<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav mode="side" opened>
            <mat-nav-list>
                @for (nav of fillerNav; track nav) {
                    <a href="" mat-list-item routerLink=".">
                        <button mat-button>{{nav}}</button>
                    </a>
                }
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <button mat-button (click)="snav.toggle()">Sidenav</button>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
