.mat-mdc-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 1px;

    .mat-mdc-header-cell {
        line-height: 1.1;
        overflow: visible;
        text-align: center;
        background-color: var(--color-slate-blue) !important;
        color: var(--color-surface-white);
        font-size: .8rem;
        font-weight: 400;
    }

    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
        padding: 0px;
    }

    .mat-column-name {
        width: 45%;

        .teams {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            line-height: 1.5;

            .logo {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                margin-right: 5px;
                padding: 3px;

                img {
                    border-radius: 25px;
                    height: 18px;
                    width: 20px;
                }

                span {
                    font-size: .65rem;
                    font-weight: 400;
                    color: var(--color-surface25);
                }

                mat-icon {
                    color: var(--color-surface25);
                    font-size: 1.2rem;
                    height: 18px;
                    width: 20px;
                }

                mat-icon:hover {
                    color: var(--color-orangey);
                }
            }

            .name {
                display: inline-flex;
                flex-direction: column;
                border-radius: 5px;
                width: fit-content;
                padding: 3px;

                span {
                    font-size: .85rem;
                    font-weight: 500;
                    color: var(--color-slate-blue);
                }

                span:last-child {
                    font-size: .6rem;
                    color: var(--color-surface25);
                }
            }
        }
    }

    .mat-column-probability {
        width: 20%;
        border-left: 1px dotted var(--color-slate-blue);

        .probability {
            width: 100%;
            display: inline-flex;
            justify-content: space-evenly;

            span:last-child {
                font-weight: 500;
            }
        }
    }

    .mat-column-prediction {
        width: 10%;
        padding: 5px;
        border-left: 1px dotted var(--color-slate-blue);

        .prediction {
            width: 100%;
            display: inline-flex;
            justify-content: center;

            button {
                background-color: var(--color-blue);
                color: var(--color-surface-white);
                font-size: 1rem;
            }
        }
    }

    .mat-column-score {
        width: 13%;
        text-align: center;
        border-left: 1px dotted var(--color-slate-blue);

    }

    .mat-column-result {
        width: 12%;
        text-align: center;
        border-left: 1px dotted var(--color-slate-blue);
    }
}