<nav>
    <ul>
        <li>
            <a href="/" class="logo">
                <button mat-button><img src="/images/logo.png" alt="Dimbatips Logo" ></button>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/fixtures" routerLinkActive="activebutton" airaCurrentWhenActive="page">
                <button mat-button>Fixtures</button>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/livescores" routerLinkActive="activebutton" airaCurrentWhenActive="page">
                <button mat-button>Livescores</button>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/betslip" routerLinkActive="activebutton" airaCurrentWhenActive="page">
                <button mat-button>Betslip</button>
            </a>
        </li>
        <li>
            <a href="#" routerLink="/treble" routerLinkActive="activebutton" airaCurrentWhenActive="page">
                <button mat-button matBadge="new" matBadgePosition="after">Tatu Chafu</button>
            </a>
        </li>
    </ul>
</nav>